extends layout

block content
    h1= title
    p Welcome to our test

    // Wrapper 
    #wrapper

        // ADD VALUE TO CHART 
        h2 Add Value to Chart 
        
        #addChartValue
            br
            br
            br
            fieldset 
                input#inputChartYAxis(type='text', placeholder='ingredient')
                button#btnAddChartValue Add Chart Value

        // D3 CHART 
        br
        #chart
        #chartProtein
        #chartFat
        #chartCarbs

        // FOOD LIST
        br
        br
        #foodList
            table
                thead
                    th Food
                    th Calories
                    th Protein
                    th Fat
                    th Carbs
                    th Delete?
                tbody   

        