extends layout

block content
    h1= title

    // Wrapper 
    #wrapper

        div.container
            div.row
            #addChartValue
                h4 Add Value to Chart 
                fieldset 
                    input#inputChartYAxis(type='text', placeholder='ingredient')
                    button#btnAddChartValue Add Chart Value

            div.row
                br
                br
                br
                br
                br
                div.col-md-9
                    // D3 CHART 
                    br
                    div.container
                        div.row
                            div.col-md-6
                                #chart
                            div.col-md-6
                                #chartProtein
                        div.row
                            div.col-md-6
                                #chartFat
                            div.col-md-6
                                #chartCarbs

                // FOOD LIST
                div.col-md-9
                    br
                    br
                    #foodList
                        table
                            thead
                                th Food
                                th Calories
                                th Protein
                                th Fat
                                th Carbs
                                th Delete?
                            tbody   

        